{#
/**
 * @file
 * The ARCHITECT's theme implementation to display the front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('uikitty/grid') }}
{{ attach_library('uikitty/sticky') }}

{% include '@architect/includes/header.html.twig' %}

<div class="arc-front-background">
<div class="arc-bg-overlay">
<div class="uk-container">


 <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-8-10">
        {{ page.front_headline }}
     </div>
     <div class="uk-width-medium-1-2 uk-width-large-4-10">
        {% if page.mainmenu %}
              {{ page.mainmenu }}
        {% endif %} 
         {% if page.sidebar_first %}
              {{ page.sidebar_first }}
        {% endif %}  
     </div>
     <div class="uk-width-medium-1-2 uk-width-large-4-10">
           <div class="uk-margin-large-top">
        
          {{ page.content }}
         </div>
     </div>
     <div class="uk-width-medium-1-1 uk-width-large-2-10">
          <div class="uk-margin-large-top">
        {% if page.sidebar_second %}
              {{ page.sidebar_second }}
        {% endif %}
         </div>
     </div>
     


   {% include '@architect/includes/footer.html.twig' %}  

                    
</div> <!--/ .uk-grid /-->
</div> <!--/ .uk-container /-->
</div> <!--/ .arc-bg-overlay /-->
</div> <!--/ .arc-darkbgs /-->



  {% include '@architect/includes/copyoffcanvas.html.twig' %} 

