h3, h4, h5 {
    text-transform:uppercase;
}
h4 {
    font-size:18px;
    font-family:'heavy';
}
.arc-header {
    background:#040506;
}
.arc-header .uk-navbar {
    background:transparent;
    border:0;
}
.arc-brand {
    padding-left:0;
}
.arc-brand, .arc-brand-content, .uk-navbar-content, .uk-navbar-toggle {
    height:61px;
}
.arc-page-footer .uk-link, .arc-page-footer a {
	color:#ccc;
	font-family:'Source Sans Pro';
}
.arc-pagetitle {
    background-color:#040506;
    border-top:1px solid #040507;
}
.arc-pagetitle .uk-h1, .arc-pagetitle h1 {
    margin-top:0;
    margin-bottom:0;
    line-height:1.2em;
    text-transform:uppercase;
    font-size:20px;
    font-family: 'Source Sans Pro';
    font-weight:200;
    letter-spacing:.7em;
    padding:.5em 0;
    opacity:.7;
}
.arc-mainmenu {
    border-top:2px solid #ccc;
    padding-left:0;
}
.arc-mainmenu li {
    list-style:none;
    padding:0;
    margin:0;
}
.arc-mainmenu li a {
    display:block;
    border:2px solid #ccc;
    border-top:0;
    height:2em;
    padding:5px;
    color:white;
    font-weight:bold;
    font-family:'Source Sans Pro', Helvetica, Arial;
}
.arc-mainmenu li a:hover {
    background:rgba(0,0,0,0.6);
    text-decoration:none;
}
.arc-mainmenu li:nth-child(even) > a {
    margin-left:-2px;
    height:4em;
}

.arc-mainmenu li:nth-child(1) > a {
    height:6em;
}
.arc-mainmenu li:nth-child(3) > a {
    height:4em;
}
.arc-mainmenu li:nth-child(4) > a {
    height:2em;
}
.arc-bg-overlay {
    background:rgba(0,0,0,0.6);
}
.arc-darkbgs {
    background-image:url(../img/bamboowall.jpg);
    background-color:#444;
    background-size:cover;
}
.arc-front-background {
    background-image:url(../img/stepbuilding.jpg);
    background-color:#444;
    background-attachment: fixed;
    background-size:cover;
}
.path-node article {
    background:white;
    padding:15px;
}
.uk-panel-box {
    border-radius:0;
    border:0;
}
.uk-h2, h2 {
    font-size:16px;
    line-height:1.3em;
  
    color:#222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
}
.uk-h2 a, h2 a {
    color:#222;
}
.uk-h2 a, h2 a:hover {
    text-decoration:none;
    color:black;
}
#search-block-form {
    position:relative;
    
}
.uk-form input[type="search"] {
    border-radius:0;
    border:0;
    color:rgba(255,255,255,.7);
    height:36px;
    background:url(../img/icons/search.png) 8px center no-repeat #000;
}
.uk-form input[type="search"] {
    padding-left:34px;
    width:90%;
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
}
#search-block-form #edit-submit {
    display:none;
}
.uk-form input[type="search"]:focus {
    width:100%;
    background:black;
    color:rgba(255,255,255,0.9);
    background:url(../img/icons/search.png) 8px center no-repeat black;
    opacity:1;
}

.uk-navbar-content {
	text-shadow:none;
}
.uk-panel h2 {
    margin-top:0;
}
.uk-back-black {
    background-color:#222;
}
.region-front-headline h2 {
    font-family:'Source Sans Pro';
    font-size:50px;
    color:#fff;
    letter-spacing:.2em;
    text-transform:uppercase;
    margin-top:100px;
    font-weight:300;
    line-height:1.3em;
}
.region-front-headline p {
    color:#ccc;
}
.arc-social-link a {
    background-color:#040506;
    display:inline-block;
    padding:8px;
}
.arc-social-link a:hover {
    background-color:#111;
}
.uk-subnav-pill>*>* {
    color: #aaa;
    background-color: rgba(255,255,255,0.2);
}
.author {
    background:url(../img/line-divider.png)center -100px no-repeat rgba(255,255,255,0.2);
    margin-top:25px;
}
.arc-author-meta {
    color:#aaa;
}
.uk-breadcrumb>li, .uk-breadcrumb>li>a, .uk-breadcrumb>li>span {
    color:#aaa;
}
.arc-page-footer .uk-nav>li>a {
    padding: 5px 0;
}
.arc-page-footer .uk-nav>li>a:hover {
    text-decoration:none;
}
.arc-page-footer .item-list li {
    padding:5px 0;
    border-bottom:1px solid #777;
    list-style:none;
}
.filter-guidelines-item {
    display:none;
}



.views-field-changed {
    font-size: 12px;
    font-style:italic;
}
em {
    color:#555;
}

.uk-tag {
    float:left;
    margin-right:3px;
    position:relative;
}
.uk-tag a {
    padding:4px 9px;
    font-size:11px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#3b3d3c;
    background:#f3f3f3;
}
.uk-tag a:hover {
    text-decoration:none;
    background:#ddd;
}

.kitty-teaser {
    box-shadow:0 0 30px rgba(0,0,0,0.1);
}
.uk-back-black {
    background:#040506;
}
.block-user-login-block .user-login-form {
    margin-left:15px;
}
.block-user-login-block .user-login-form label {
    color:#aaa;
}
.page-node-type-page .field--name-field-image {
    margin-bottom:30px;
    box-shadow:0 0 45px #ccc;
}
.kitty-teaser .uk-subnav-pill a {
    border:1px solid rgba(30,30,30,0.2);
}


ul.ds-nodelinks {
    padding-left:0;
    margin:0 -15px -15px -15px;
    background-color:#f5f5f5;
    overflow:hidden;
    border-top:1px solid #ddd;
}
.ds-nodelinks > li {
    list-style:none;
    font-size:12px;
}
.ds-nodelinks > li.comment-forbidden {
    padding:10px 15px;
}
.ds-nodelinks > li.comment-forbidden a {
    padding:0;
    border:0;
}
.ds-nodelinks > li > a {
    padding:10px 15px;
    display:block;
    text-decoration:none;
    color:#4d4d4d;
    border-right:1px solid #ddd;
    font-size:11px;
    text-transform:uppercase;
}
.ds-nodelinks > li > a:after {
	    content: "\f054";
    font-family: FontAwesome;
        float:right;
}
.ds-nodelinks > li > a:hover {
    background-color:#eee;
    color:#111;
}
.ds-nodelinks > li.node-readmore > a:hover {
    color:#000;
}
.comment-add a {
	border-top:1px solid #ddd;
}
.comment-add a:before {
    content: "\f0e5";
    font-family: FontAwesome;
    padding-right:6px;
    margin-bottom:-2px;
 }
 .posted, .tags {
	 font-size:9px;
	 color:#808080;
	 letter-spacing:.17em;
	 font-weight:300;
	 text-transform:uppercase;
	 margin-bottom:10px;
 }
.tags a {
	 color:#808080;
 }
.tags a:before {
	  content: '#';
  }
 .kitty-teaser p {
	 font-size:13px;
	 color:#5d5d5d;
	  font-family: 'Open Sans', sans-serif;
 }
.kitty-teaser h2.node__title {
   margin-bottom:15px;
}
.kitty-teaser h2.node__title a {
    font-size:21px;
    color:#4d4d4d;
    line-height:1.3em;
    font-weight:400;
    display:block;
}
.uk-overlay-panel.ds-portfolio-item a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:22px;
    text-decoration:none;
    color:#222;
    padding:10px;
}
.uk-overlay-background.ds-portfolio-item {
    background:rgba(255,255,0,0.8)
}

.node__meta {
    background:#262626;
    padding:5px;
    color:#aaa;
}

@media only screen and (max-width : 767px)  {
.arc-page-footer {
	padding-right:-30px;
}

} /* end media query max 767 */

@media only screen and (min-device-width : 768px)  {

} /* end media query max 768 */

@media (min-width: 1220px) {

}/* end media query max 768 */