@font-face {
    font-family: 'heavy';
    src: url('fonts/heavy/heavyheadline-regular-webfont.woff2') format('woff2'),
         url('fonts/heavy/heavyheadline-regular-webfont.woff') format('woff'),
         url('fonts/heavy/heavyheadline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');