
<div class="footwrap uk-back-black">
  <div class="uk-container">
    <div class="uk-grid uk-dark uk-margin-large-top uk-margin-large-bottom">
       <div class="uk-width-medium-4-10 uk-hidden-small">
        &nbsp;
       </div>
       <div class="uk-width-medium-6-10">
         {% if page.copyright %}
          {{ page.copyright }}
         {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="offcanvas" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    {{ page.offcanvas }}
  </div>
</div>