   {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}




 {% if page.footer_first or page.footer_second %}

    <div class="uk-width-medium-4-10 uk-back-black arc-page-footer">
        <div class="uk-grid uk-margin-top">
            <div class="uk-width-medium-1-2">
            {{ page.footer_first }}
            </div>
            <div class="uk-width-medium-1-2">
            {{ page.footer_second }}
            </div>
        </div>
     </div>

 {% endif %}