<div class="arc-header" data-uk-sticky="{top:-50, media: 640, animation:'uk-animation-slide-top'}">
            <div class="uk-container" >       
                    {{ page.branding }}
            </div>
 </div>
