
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}


<nav class="uk-navbar">
      {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="arc-brand uk-navbar-brand">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="uk-float-left uk-margin-top"/>
    </a>
  {% endif %}
      <ul class="uk-navbar-nav">

    </ul>
   
 {% if site_name %}
<div class="uk-navbar-flip">
<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-content uk-hidden-small uk-contrast">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
    </div>
  {% endif %}
      

</nav>
    


    











