
          
          
              
{#
/**
 * @file
  * Default theme implementation to display a menu.
  *
  * Available variables:
  * - menu_name: The machine name of the menu.
  * - items: A nested list of menu items. Each menu item contains:
  *   - attributes: HTML attributes for the menu item.
  *   - below: The menu item child items.
  *   - title: The menu link title.
  *   - url: The menu link url, instance of \Drupal\Core\Url
  *   - localized_options: Menu link localized options.
  *
  * @ingroup templates
  */
 #}
 {% import _self as menus %}

 {#
   We call a macro which calls itself to render the full tree.
   @see http://twig.sensiolabs.org/doc/tags/macro.html
 #}
 {{ menus.menu_links(items, attributes, 0) }}

 {% macro menu_links(items, attributes, menu_level) %}
   {% import _self as menus %}
   {% if items %}
     {% if menu_level == 0 %}
   
       <ul{{ attributes.addClass('arc-mainmenu', 'uk-margin-large-top', 'uk-hidden-small') }} data-uk-grid>
     {% else %}
     <div class="uk-dropdown">
       <ul{{ attributes.addClass('uk-nav') }}>
     {% endif %}
           
 
           
           
     {% for item in items %}
               {%
        set classes = [
          'uk-width-medium-1-2',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
       {% if menu_level == 0 and item.is_expanded %}
         <li{{ item.attributes.addClass( classes, 'expanded', 'uk-parent') }} data-uk-dropdown>
         <a href="{{ item.url }}">{{ item.title }} <i class="uk-icon-caret-down"></i></a>
       {% else %}
         <li{{ item.attributes.addClass(classes) }}>
         {{ link(item.title, item.url) }}
       {% endif %}
       {% if item.below %}
         {{ menus.menu_links(item.below, attributes.removeClass('uk-nav'), menu_level + 1) }}
       {% endif %}
             </li>
     {% endfor %}

     </ul>
      {% if menu_level == 0 %}
           {% else %}
           </div>
       {% endif %}  
       
   {% endif %}
 {% endmacro %} 